<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="io.excitinglab.lifemanager">

    <!-- <uses-permission android:name="android.permission.READ_CALENDAR" /> -->
    <!-- <uses-permission android:name="android.permission.WRITE_CALENDAR" /> -->

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_temp"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_logo_temp"
        android:supportsRtl="true"
        android:theme="@style/MyTheme">
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme_NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme_NoActionBar" />
        <activity
            android:name=".AddTaskActivity"
            android:label="New Task"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".AddListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditListActivity"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".EditTaskActivity"
            android:label="Edit task"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/title_activity_settings"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ShareActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".FeedbackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="io.excitinglab.lifemanager.MainActivity" />
        </activity>
        <activity
            android:name=".HelpActivity"
            android:screenOrientation="portrait"
            android:theme="@style/MyTheme_NoActionBar" />

        <receiver android:name=".Alarm" />

        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_about"
            android:theme="@style/MyTheme_NoActionBar">
        </activity>

    </application>

</manifest>